{% extends 'base.html' %}
{% block page_content %}

<div class="row " >
      {% for movie in movies %}
          <div id='mv' style="float: left;height: 400px;margin: 8px;text-align: center;" >
          <a href="{{ movie.alt }}" class="thumbnail" ><img  src="{{ movie.image }}" alt="{{ movie.title }}"></a>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg-{{  movie.title}}">{{ movie.title }}  评分{{ movie.average }}</button>
                <div class="modal fade bs-example-modal-lg-{{  movie.title}}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                             <p>往期评论:</p>
                            {% for talk in movie.commented %}
                                {{ talk.comment_text }}
                                {% endfor %}
                        <form method="POST" action="/{{ movie.title }}">
                            {{ form.csrf_token }}
                            {{ form.title.label }}{{ movie.title }}
                            {{ form.text.label }}{{ form.text }}
                            <input type="submit" value="'提交" >
                        </form>
                    </div>
                  </div>
                </div>
            </div>
      {% endfor %}
</div>
{% endblock %}
